body {
 display: flex;
 flex-direction: column;
align-items: center;
justify-content: center;

}

.container {
  display: flex;;
 
  flex-flow:row;
  flex-wrap: wrap;
  width: 960px;
  
 
}
.box {
 
display: flex;
justify-content: center;;
align-items: center;


 
height:50px;
width:50px;
border:1px solid black
}
